{% extends 'header.html' %}

{% block content %}
<div class="list jumbotron">
    <h1 class= "list">BREVIS NEWS SUMMARIZER</h1>
</div>

<div class="wrapper">
    <div class="main container-fluid">
        <div class="row">
            <div class="col-4" style="text-align:center">
                <h1>Top Articles</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4 Articles">
                <ul class="Articles list-group">
                    {% for article in object_list %}
                        {%if article.title == object.title %}
                            <li class="list-group-item active"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {%else%}
                            <li class="list-group-item"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {%endif%}
                    {% endfor %}
                </ul>
            </div>
            <div class="col-8">
                {% include 'details.html' %}
                {% comment %} Filled in by your page templates {% endcomment %}
                {% comment %} {% endblock %} {% endcomment %}
            </div>
        </div>
    </div>
</div>

{% endblock %}